@page "/"
@using ClassLibraryDal;
@using ClassLibraryModel;
@inject IJSRuntime JSRuntime;

<PageTitle>Login</PageTitle>

<div class="container">
    <h1>Login</h1>

    <!-- Login Form -->
    <div class="form-container">
        <form @onsubmit="HandleSubmit">
            <div class="form-group">
                <label for="loginEmail">Email address</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" @bind-value="userDetails.EmailAddress">
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Password" @bind-value="userDetails.Pass">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <!-- Signup Link -->
    <div class="signup-link">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>


@code{
    UserDetails userDetails = new UserDetails();

    private void HandleSubmit()
    {
        UserDetails userFound = DalUserDetails.Login_User(userDetails.EmailAddress, userDetails.Pass);
        if(userFound!=null)
        {
            JSRuntime.InvokeVoidAsync("alert", "Hi, " + userFound.FullName + "\nLogin Successfull");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("alert", "User Not Found");
        }
    }
}