@page "/windowdetailslist"
@attribute [Authorize(Roles = "Admin,User")]

@using ClassLibraryDal
@using ClassLibraryModel
<h3>Window Details</h3>
<PageTitle>Windows Details</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var window in windowDetails)
        {
            <tr>
                <td>@window.WindowsId</td>
                <td>@window.Type</td>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                <button @onclick="() => DeleteWindowDetail(window)" class="btn btn-bin">
                    <i class="fas fa-trash-alt"></i>
                </button>
                    </Authorized>
                </AuthorizeView>
            </tr>
        }
    </tbody>
</table>
<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="mb-3">
            <a href="/addwindowdetails" class="btn btn-primary">Add Window Details</a>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    List<WindowDetails> windowDetails = new List<WindowDetails>();

    protected override void OnInitialized()
    {
        windowDetails = DalWindowDetails.GetAllWindowDetails();
    }
    private void DeleteWindowDetail(WindowDetails model)
    {
        DalCrud.DeleteData("DeleteWindowDetails", "@WindowsId", model.WindowsId);
        windowDetails = DalWindowDetails.GetAllWindowDetails();
        JSRuntime.InvokeVoidAsync("alert", "Deleted Successfully");
    }

}
