@using QuotationCalculator.Authentication
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QuotationCalculator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="signup">
                        <span class="oi oi-plus" aria-hidden="true"></span>Add Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="addquotation">
                        <span class="oi oi-plus" aria-hidden="true"></span>Add Quotation
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="glassdetailslist">
                        <span class="oi oi-menu" aria-hidden="true"></span>Glass Details
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="windowdetailslist">
                        <span class="oi oi-menu" aria-hidden="true"></span>Window Details
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="turkprofilslist">
                        <span class="oi oi-menu" aria-hidden="true"></span>TurkProfil Details
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="skypenlist">
                        <span class="oi oi-menu" aria-hidden="true"></span>SkyPen Details
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="quotationslist">
                        <span class="oi oi-eye" aria-hidden="true"></span>View Quotations
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="Logout" href="javascript:void(0)">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/", true);
    }
}
